/* A bul tanna setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  
}

/* Page zawng zawng awmna container */
.fullpage-container {
position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #fff3f8, #87CEEB);
}

/* Page tin style */
.page {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(100%); /* A dinglamah dah bo vek */
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* A chung aṭanga in-align se */
  
  overflow-y: auto; /* A PAWIMAWH: Page a sei chuan a chhungah a in-scroll thei ang */
}
.page.active {
  transform: translateX(0); /* A hmun dikah a rawn lang ang */
  opacity: 1;
  z-index: 10; /* A lang lai chu a chung berah a awm ang */
}
.page.prev {
  transform: translateX(-100%); /* A veilamah a liam bo ang */
  opacity: 1; /* Heta opacity hi a ṭha, a liam lai a hmuh theih nan */
  z-index: 9;
}

/* Page content dahna container */
.content {
  max-width: 800px;
  width: 90%;
}

/* == I STYLE HMAN SA KAN LA LUT ANG == */
h3, h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
h3 { text-align: center; }
p { line-height: 1.8; margin-bottom: 0.8em; }
.noti { text-align: center; margin: 20px 0; }
.date { text-align: right; margin-bottom: 1em; }
.office { font-weight: bold; }

.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}
.item .office {
  width: 200px;
  flex-shrink: 0;
}
.item .nihna {
  flex-grow: 1;
}

.sd {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.s {
  text-align: center;
  width: 280px;
}
.s span {
  display: block; /* Tlar hrangin a siam ang */
  line-height: 1.5;
}

/* FOOTER STYLE (Fixed-in kan siam ang) */
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 100%;
  background-color: transparent;
  padding: 10px 0;
  z-index: 100;
}
.page-link {
  position: absolute;
  top: 50%;
  transform: translateX(-50);
  z-index: 10;
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 2px solid transparent;
  }
    
  
  #next-btn {
    right: 20px;
    background-color: transparent;
  
  }
  #prev-btn {
    left: 20px;
    background-color: transparent;
    
  }
.page-link:disabled {
  color: transparent;
  cursor: not-allowed;
}
#page-indicator {
    color: rgb(199, 49, 11);
    font-size: 1rem;
    font-weight: bold;
  }
 .page-link:hoover {
  color: black;

 }      




